a{
  text-decoration: none;

}

li{
  list-style: none;
}
nav {
  width: 100%;
  height: 50px;

  img {
    margin-top: 5px;
  }

  .nav-link {
    width: 90%;
    height: 50px;
    display: flex;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 50px;

      a {
        text-decoration: none;
        color: black;
      }
    }

    .lang {
      width: 10%;
      height: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      p {
        padding: 0;
        margin: 0;
        width: 50%;
        height: 50%;
        background: #f3f3f3;
        border-radius: 50%;
      }

      i {
        background-color: #ffc700;
        width: 50%;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

#basic-sect {
  background-color: #f3f3f3;
  width: 80%;
  margin-left: 10%;
  border-radius: 50px;
  .social-icon {
    width: 90%;
    height: 35px;
    display: flex;
    justify-content: end;
    padding: 0 15px;

    i {
      padding: 0 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .left {
    width: 100%;

    .konkurs {
      width: 50%;
      height: 50px;
      border: 1px solid;
      background: #262626;
      border-radius: 50px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;

        .vector {
          width: 10%;
          height: 5%;
        }
        p {
          margin: 0;
          color: #f3f3f3;
        }
      }

      img {
        width: 10%;
      }
    }
  }
  .text {
    width: 100%;

    .t {
      font-size: 3rem;
      font-weight: bold;
      width: 60%;
      text-align: start;
    }

    div {
      p {
        font-weight: 500;
        line-height: 24px;
      }
    }
  }

  .button {
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    button {
      width: 90%;
      height: 50px;
      background-color: #ffc700;
      border-radius: 50px;
      border: none;

      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
    }
    .left-text {
      width: 50%;
      display: flex;
      flex-direction: column;
      text-align: center;

      p {
        margin: 0;
      }

      span {
        color: #ff0000;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }

  .img {
    width: 100%;
    // height: 250px;
    border: 50px;
    img {
      width: 100%;
      border: 50px;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }


}

#kurslar {
  width: 70%;
  
  margin-left: 15%;

  .info {
    width: 30%;

    p {
      font-weight: 600;
      font-size: 1rem;
    }
  }

  .dizayn{
      width: 100%;
    button{
      width: 20%;
      height: 50px;
      border-radius: 50px;
      margin-left: 25px;
      
      &:hover{
        background-color: #ffc700;
        border: none;
      }
    
    }
    .b-hover{
      background-color: #ffc700;
      border: none;
    } 
    a{
      color: black;
      font-weight: bold;
      
    }

    .b{
      width: 18%;
      margin-top: 15px;
      padding: 0 45px;
      margin-left: 15px;
    }
  }

  div{

    .text-2{
      font-size: 2rem;
      font-weight: 700;
    }

    p{
      font-weight: 600;
    }
  }

  .student{
    width: 100%;
    border: 1px solid;
    height: 200px;

  }
}


